# Synthetic Financial Datasets For Fraud Detection

Paysim synthetic dataset of mobile money transactions. Each step represents an hour of simulation. This dataset is scaled down 1/4 of the original dataset which is presented in the paper "PaySim: A financial mobile money simulator for fraud detection".

In [1]:
import pandas as pd

In [2]:
paysim = pd.read_csv('dataset/kaggle_finance_short.csv')
paysim.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

## Get value counts per column: type

## Get first Day

Remember, step indicates a single hour, so one day is...

## Get number of transaction per hour for day1

## Get day2!

In [ ]:
day2 = None

## Get number of transaction per hour for day1

## Select hour 19

# Get per Origin and destination value counts

### Let's check what's the transaction with the highest amount  for each hours of the first day

### Let's check what's the transaction that led to the highest account balance for each hours of the first day.

## Explore the dataset by yourself!